body {
    font-family: "Josefin Sans", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#DDE5ED;
}

.header {
    background-color: #7BAFD4;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.header h1 {
    font-family: 'Big Shoulders Inline Display', sans-serif;
    font-size: 38px;
    color: #2A0800;
    margin: 0;
}

.contact-image {
    position: relative;
    width: 100%;
}

.contact-image img {
    width: 100%;
    display: block;
    opacity: 0.7;
    z-index: 0;
}

@media (min-width: 768px) {
    .contact-image img {
        max-height: 550px;
        object-fit: cover;
    }
}

.text-on-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-shadow: 2px rgba(0);
    font-family: 'Big Shoulders Inline Display', sans-serif;
    font-size: 38px;
    text-align: center;
    z-index: 1;
}

.main {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color:#DDE5ED;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    text-align: left;
}

input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #91abc0;
    border-radius: 4px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: #2A0800;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.submit-button {
    margin-top: 30px;
    background-color:#9ac4ee;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #775144;
}

footer {
    text-align: center;
    background-color: #775144;
    color: #F8F0EF;
    width: 100%;
    padding: 1rem;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #F8F0EF;
    text-decoration: none;
}

.social-icons a:hover {
    color: #C09891;
}

/*footer design*/

.main-footer { 
    background-color: #4B2C1F;
    min-height: 10vh;
    max-height: 20vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
}

.footer-text {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1.5rem;
    color: white;
}

.footer-right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.5rem;
}

.contact-footer-div {
    background-color: white;
    border-radius: 5px;
}

.footer-instagram {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.instagram-text {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1rem;
    color: white;
}

.instagram-text:hover, .instagram-text:focus {
    text-decoration: underline;
}

.contact-link-footer {
    color:#3C5667;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
}

.instagram-logo {
    background-image: url("../img/instagramlogo.png");  
    background-size: cover;
    min-height: 15px;
    min-width: 15px;
    margin: -0.2rem 0 0 0.5rem;
}

.contact-footer-div:focus, .contact-footer-div:hover {
    background-color:#8AB3C8;
}

.contact-link-footer:focus, .contact-link-footer:hover {
    color:  #4B2C1F;
}

