html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color:#DDE5ED;
}

a:active,
a:hover {
    outline: 0;
}

@font-face {
    font-family: "responsivenav";
    src: url("../icons/responsivenav.eot");
    src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
        url("../icons/responsivenav.ttf") format("truetype"),
        url("../icons/responsivenav.woff") format("woff"),
        url("../icons/responsivenav.svg#responsivenav") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*navbar controls*/
.nav-toggle {
    text-decoration: none;
    text-indent: -300px;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 55px;
    float: right;
}

.nav-toggle:before {
    color: white; /* edit this to change the icon color */
    font: normal 28px/55px "responsivenav"; /* edit font-size (28px) to change the icon size */
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261"; /* hamburger icon */
    text-indent: 0;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-toggle.active:before {
    font-size: 24px;
    content: "\78"; /* X/close icon */
}

.nav-collapse ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-end;
}

.nav-collapse li {
    display: block;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
    margin-top: 5rem;
    background-color: #4B2C1F;
    max-width: 30vw;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    line-height: 55px;
    padding: 0 20px;
    color: white;
}

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-collapse,
.nav-collapse * {
    box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: end;
}

.nav-collapse a {
    text-decoration: none;
    padding: 0.7em 1em;
    color: white;
    width: 100%;
    display: block;
}

.nav-collapse ul ul a {
    padding-left: 2em;
}

/*nav icon for larger screen sizes*/
@media screen and (min-width: 768px) {
    .nav-collapse ul {
    flex-direction: row;
    align-items: flex-end;
}

.nav-collapse li {
    width: auto;
}

.nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin: 0;
}

.nav-collapse ul ul a {
    display: none;
}

.nav-collapse.closed {
    max-height: none;
    order: 3;
}
.nav-toggle {
    display: none;
}
}

.menu-item {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
    font-size: 1rem;
    margin: 0 -1.2rem;
}

li:hover, li:focus {
    text-decoration: underline;
}

/*header*/
.primary-header { 
    background-color: #4B2C1F;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 15vh;
    max-height: 30vh;
    align-items: center;
}

.primary-logo {
    min-height: 60px;
    min-width: 80px;
    max-width: 100px;
    max-height: 90px;
    background-image: url("../img/CCSlogo.png"); 
    background-size: cover;
    flex: 1;
    order: -1;  
    margin: -0.2rem 0 0 1rem;
}

nav {
    margin-top: -5rem; 
    max-width: 60vw;
    order: 1;
}

.menu-item {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    font-size: 1.5rem;
    margin: -0.6rem 0;
}

li:hover, li:focus {
    text-decoration: underline;
}

.box-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-box {
    margin-top: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(112, 166, 216, 0.2), 0 6px 20px 0 rgba(13, 30, 50, 0.19);
    border-radius: 5px;
    text-align: center;
    min-height: 25vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.welcome-h1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 2rem;
    min-width: 30vw;
    margin-bottom: -0.5rem;
}

.CCS-p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1rem;
    min-width: 30vw;
    margin-bottom: -0.5rem;
}

.hours-location-box {
    margin-top: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(112, 166, 216, 0.2), 0 6px 20px 0 rgba(13, 30, 50, 0.19);
    border-radius: 5px;
    text-align: center;
    min-height: 25vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.h2-title {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1.5rem;
    min-width: 30vw;
    margin-bottom: -0.5rem;
}

.location-hour-text {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    min-width: 30vw;
    margin-bottom: -0.5rem;
}

.gallery-preview-box {
    margin-top: 2rem;
    background-image: url("../img/store-image.jpg");  
    background-size: cover;
    background-position: 25% 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    min-height: 25vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-link-box {
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.link-to-gallery {
    text-decoration: none;
    color: #3C5667;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.link-to-gallery:hover, .link-to-gallery:focus {
    text-decoration: underline;
}

.link-pdf-box {
    background-color: #8AB3C8;
    border-radius: 5px;
    text-align: center;
    margin-top: 2rem;
    padding: 0 0.8rem; 
}

.link-pdf {
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1.5rem;
}

.link-pdf:hover, .link-pdf:focus {
    text-decoration: underline;
}

.menu-title-box {
    margin-top: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(112, 166, 216, 0.2), 0 6px 20px 0 rgba(13, 30, 50, 0.19);
    border-radius: 5px;
    text-align: center;
    min-height: 10vh;
    width: 90vw;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.menu-box {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(112, 166, 216, 0.2), 0 6px 20px 0 rgba(13, 30, 50, 0.19);
    border-radius: 5px;
    width: 90vw;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}

.menu-group-title {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-bottom: -0.5rem;
}

.menu-list {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1rem;
    text-decoration: none;
}

.drink-class {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.li-menu-item-div {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/*footer design*/

.main-footer { 
    background-color: #4B2C1F;
    min-height: 10vh;
    max-height: 20vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
}

.footer-text {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1.5rem;
    color: white;
}

.footer-right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.5rem;
}

.contact-footer-div {
    background-color: white;
    border-radius: 5px;
}

.footer-instagram {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.instagram-text {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1rem;
    color: white;
}

.instagram-text:hover, .instagram-text:focus {
    text-decoration: underline;
}

.contact-link-footer {
    color:#3C5667;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
}

.instagram-logo {
    background-image: url("../img/instagramlogo.png");  
    background-size: cover;
    min-height: 15px;
    min-width: 15px;
    margin: -0.2rem 0 0 0.5rem;
}

.contact-footer-div:focus, .contact-footer-div:hover {
    background-color:#8AB3C8;
}

.contact-link-footer:focus, .contact-link-footer:hover {
    color:  #4B2C1F;
}



@media screen and (min-width: 768px) {
    .hours-location-box {
            display: flex;
            flex-direction: row;
    }

    .hours-box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .location-box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .gallery-preview-box {
        background-position: 60% 26%;
        min-height: 40vh;
    }

    nav {
        display: flex;
        max-width: 60vw;
        margin-top: 1rem;
    }

    .primary-header {
        flex-direction: row;
        align-items: center;
    }

    .nav-collapse {
        order: 3;
    }
    
    #logo-order {
        order: 1;
        margin-right: 1rem;
    }

    .menu-item {
        margin: 0 -1.2rem;
    }
}